<div class="list row">
<!--  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>-->
  <div class="col-md-6">
    <h4>Prices</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let price of prices; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePrice(price, i)"
      >
        {{ price.instrument }}
      </li>
    </ul>
    <!--<button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>-->
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPrice">
      <h4>Price Details</h4>
      <div>
        <label><strong>Instrument Name:</strong></label> {{ currentPrice.instrument }}
      </div>
      <div>
        <label><strong>Value:</strong></label>
        {{ currentPrice.value }}
      </div>
      <div>
        <label><strong>Type:</strong></label>
        {{ currentPrice.type }}
      </div>

      <!--<a class="badge badge-warning" routerLink="/priceviewer/{{ currentPrice.id }}">
        Edit
      </a>-->
    </div>
    <div *ngIf="!currentPrice">
      <br />
      <p>Please click on a Price...</p>
    </div>
  </div>
</div>
